body {
  margin: 0;
  padding: 0;
}
img {
  width: 108px;
  height: 50px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 110px;
  font-size: 14px;
  font-weight: bold;
  max-width: 1280px;
}
div {
  padding: 10px;
  display: none;
}

.right-box {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.left-elements {
  display: flex;
  align-items: center;
  padding: 10px;
}

.techit-logo {
  padding-right: 50px;
  cursor: pointer;
}

.user-logo {
  width: auto;
  height: auto;
  padding-left: 15px;
  display: none;
}

#tekit-school,
#startup,
#vod,
#education,
#event {
  cursor: pointer;
}

.ellipsis {
  width: 24px;
  padding-left: 20px;
}

@media (min-width: 1024px) {
  div {
    display: inline-block;
  }
  .user-logo {
    display: inline-block;
  }
}
